@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Yellowtail&display=swap');

:root {
    --nav-color: red;
    --pink: #EC8388;
  }

html {
    font-family: 'Bree Serif', serif;
    /* background: #fff; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: url(images/bg.jpg) no-repeat center center fixed;
    padding: 0;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
    background-color: #fff;
    height: 100px;
}


.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: var(--nav-color);
    padding-bottom: 5px;
    font-size: 50px;
}
.header-wrapper>div {
    cursor: pointer;
}

.header-wrapper>div:hover {
    border-bottom: 5px solid var(--nav-color);
}

.header-wrapper>div.active {
    border-bottom: 5px solid var(--nav-color);
}

.header-wrapper img {
    cursor: pointer;
}
.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-wrapper {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 20px;
}

.title {
    font-size: 150px;
    font-family: 'Yellowtail', cursive;
    height: 150px;
}

.title-container {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-location {
    font-size: 24px;
    /* font-family: 'Bree Serif', serif; */
}
#icon {
    height: 500px;
    background: url('./images/logo.jpg');
}

.title-btn-wrapper {
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 20px
}

#order-btn {
    margin-top: 10px;
    height: 50px;
    width: 400px;
    border: none;
    font-size: 28px;
    background-color: #C6562B;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
}


/* menu section */

.menu {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.menuCardContainer {
    display: grid;
    grid-template: 300px / repeat(4, 300px);
    gap:20px;
}

.menuCard {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
}

.menuImg {

}

/* About */

.about {
    background-color: rgba(0,0,0,.5);
    color: #fff;
    height: 50%;
    width: 50%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-title {
    font-family: 'Yellowtail', cursive;
    letter-spacing: 25px;
    color: white;
    font-size: 150px;
    font-weight: bold;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--pink)
}

.pink {
    color: var(--pink);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #FFF;
}
.about-text-bg {
   display: flex;
   justify-content: center;
    width: 700px;
    height: 500px;
}

.about-text {
    color: #FFF;
    font-size: 30px;
    text-align: center;
}

/* BGs */

.aboutBGActive {
    background: url(images/about.jpg) no-repeat center center fixed;
}

.menuBGActive {
    background: url(images/menu.jpg) no-repeat center center fixed;
}

.homeBGActive {
    background: url(images/bg.jpg) no-repeat center center fixed;
}